body {
    height: 100%;
}

input {
    max-width: 200px;
}

.column{
    margin-left: -10px; 
    padding: 10px; 
    /* border: 2px solid black;  */
}

.left_container,
.middle_container,
.right_container{
    border: 2px solid black; 
}

i{
    width:25px;
    height: 20px;
}

h3{
    text-align: center; 
}

#startGame {
    margin: 10px; 
    padding: 10px; 
    border-radius: 50%; 
    border: 2px solid gray; 
}

img {
    width: 200px;
    height: 200px;
    border-radius:20%; 
}

.gif_column {
    display: flex;
    justify-content: center;
    
}

.middle_container {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}

